<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhidisoft.dao.IAccountDao">

   <select id="findById" resultType="account">
       select * from account where id=#{id}
   </select>

    <update id="update" parameterType="account">
        update account
        <set>
            <if test="name != null and name!= ''">
                name=#{name},
            </if>
            <if test="balance != null">
                balance=#{balance}
            </if>
        </set>
        where id=#{id}
    </update>

</mapper>